<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线简历解</title>
    <link rel="stylesheet" href="/static/css/styleu.css">
</head>
<body>
    <header>
        <h1>在线简历解析</h1>
    </header>
    <main>
        <div class="upload-container">
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="上传简历">
            </form>
        </div>
    </main>
</body>
</html>